*
*/
*/*
**
!README.md
!.gitignore
!src/
!src/*
!src/**/
!src/**/*
!docs/
!docs/*
!docs/**/
!docs/**/*
!scripts/
!scripts/*
!scripts/**/
!scripts/**/*
!constraints/
!constraints/*
!constraints/**/
!constraints/**/*
!traces/
!traces/*
!traces/**/
!traces/**/*
